.card {

  //FUNCTIONALITY
  perspective: 150rem;
  /* Need to be in parent element */
  -moz-perspective: 150rem;
  /* Simply to work on the firefox browser */
  position: relative;
  height: 52rem;
  /* To fix lack of height and lack of perspective */

  &__side {
    height: 52rem;
    transition: all .8s ease;
    /* Ease more smooth animation */
    position: absolute;
    /* We give elements absolute position so they will try to fit to their width
    and their height collapsed */
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    /* Crutial property. It hides back-part of the element */
    border-radius: 3px;
    overflow: hidden;
    /* To stop chldren image overflowing parent element */
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

      &--front {
        background-color: $color-white;
      }

      &--back {

        transform: rotateY(180deg);

        &-1 {
          background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
        }

        &-2 {
          background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        }

        &-3 {
          background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
        }
      }
  }


  &:hover &__side--front {
    transform: rotateY(-180deg);
    // We need to rotate it
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
    // It is already rotated. It needs to be rotated back.
  }


  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    /* It blend background image: color and background. It has many possible effects. */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    /* To ensure compatibility with older browsers */
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    backface-visibility: hidden;//My
    
    &--1 {
      background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
      url(../img/nat-5.jpg);
    }

    &--2 {
      background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
      url(../img/nat-6.jpg);
    }

    &--3 {
      background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
      url(../img/nat-7.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
    backface-visibility: hidden;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    /* It makes that each element is styled independently from each other.
     In our example padding */

    &--1 {
      background-image: linear-gradient(to right bottom, 
      rgba($color-secondary-light, .85), 
      rgba($color-secondary-dark, .85));
    }

    &--2 {
      background-image: linear-gradient(to right bottom, 
      rgba($color-primary-light, .85), 
      rgba($color-primary-dark, .85));
    }

    &--3 {
      background-image: linear-gradient(to right bottom, 
      rgba($color-tertiary-light, .85), 
      rgba($color-tertiary-dark, .85));
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      /* Easiest way to center block element inside block element */

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  // BACK SIDE STYLING
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    /* We need to add this property to avoid wrong fitting of 'book now' */
    text-align: center;
  }

  &__price-box {
    text-align: center;
    color: $color-white;
    margin-bottom: 8rem;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }



  @include respond(tab-port) {
    
    //FUNCTIONALITY
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

        &--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &:hover &__side--back {
      transform: rotateY(0);
    }

    &__details {
      padding: 1rem 3rem;
    }

    // BACK SIDE STYLING
    &__cta {
      position: relative;
      top: 0%;
      left: 0%;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 4rem;
    }
  }
}