.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  /* Insensitive on scrolling */
  top: 0;
  left: 0;
  background-color: rgba($color-black, .8);
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  
  &__content {
    @include center_horizontal_and_vertical;

    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    display: table;
    /* Cells have the same height */
    overflow: hidden;
    /* The part of image that extends beyond the container area is hidden */
    opacity: 0;
    transform: translate(-50%, -50%) scale(.25);
    /* Elemen can only have one transform so we need to repeat this property and add to it (interesting us) new value */
    transition: all .5s .2s;
    //.2s delay of animation
  }

  &__left {
    width: 33.333333%;
    display: table-cell;
    /* Same height */
    vertical-align: middle;
  }

  &__right {
    width: 66.666667%;
    display: table-cell;
    /* Same height */
    vertical-align: middle;
    /* Middle of the cell */
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
    /* Entire parent's contener width */
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;

    column-count: 2;
    /* Creates 2 columns */
    column-gap: 4rem;
    /* Space between columns */
    column-rule: 1px solid $color-grey-light-2;
    /* Column separating line */

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    /* Automaticly sets where to put the hyphens */
  }


  //OPEN STATES
  &:target {
    /* Sudoclasss when popup id in some anchor element has href="#popup" and this element becomes a target */
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    /* When popup becomes target we are styling the children __content */
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      /* Positioned to popup__content */
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
