@mixin clearfix {
  &::after {
  /* Insert some text after the content of each & element */
    content: "";
    /* Without this, sudo element will not appear on page */
    display: table;
    /* Clearfix standar to display table */ 
    clear: both;
    /* Clear float left or right */
  }
}


@mixin center_horizontal_and_vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%,-50%);
}