.navigation {
  &__checkbox {
    display: none;
  }
  
  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, .1);
    text-align: center;
    /* To center span element */
    cursor: pointer;
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    /* It doesn't change position as we scrolled the page,
    and now we can set its position with top, left properties. */
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    /* This gradient starts at the center of the element and fades out
     in all outer directions */
     z-index: 1000;
     transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
     /* Custom animation, pages: cubic-bezier.com, easings.net */
  }

  &__nav {
    height: 100vh;
    /* As block element it is automatically take all avilable width */
    position: fixed;
    /* Entire page */
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    /* To be invisible and there was no possibility of choosing it */
    transition: all .8s cubic-bezier(1,-0.69,.03,1.33);
  }

  &__list {
    @include center_horizontal_and_vertical;
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
    /* background-image, tiled image 120deg, from 0% to 50% color, 50% to end white color */
    background-size: 220%;
    /* If we will slightly increasing it the white color of background-image will move to right */
    transition: all .4s;

    span {
      margin-right: 1rem;
      display: inline-block;
    }

  }
    
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }


  //FUNCTIONALITY
  /* After choosing checkbox */
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }
  /*...............*/


  //ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &, //span element
    &::before, // before span element
    &::after { // after span element
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;

    }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s;
    }

    &::before { top: -.8rem; }
    &::after { top: .8rem; }
  }

  &__button:hover &__icon::before {
    /* Icon is a child element od button */
    top: -1rem;
  }

  &__button:hover &__icon::after {
    /* Icon is a child element od button */
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    /* If __checkbox is checked we select its direct brother and next its children */
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(45deg);
  }

}